@font-face {
    font-family: 'Anurati';
    src: url("../resources/Anurati-Regular.otf") format("opentype");
}

h1.cursive {
    font-family: 'Grand Hotel',cursive;
    font-size: 82px;
}

h1.Anurati {
    font-family: 'Anurati';
    font-size: 82px;
}

