@font-face {
    font-family: 'Anurati';
    src: url("../resources/Anurati-Regular.otf") format("opentype");
}

h1.cursive {
    font-family: 'Grand Hotel',cursive;
    font-size: 82px;
}

h1.Anurati {
    font-family: 'Anurati';
    font-size: 62px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    vertical-align: middle;
}

/* The navigation bar */
#navbartop {
    background-color: #050505;
    overflow: hidden;
    text-align: center;
}

.navbarchoice {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbarchoice:hover {
    background-color: #ddd;
    color: black;
}

.header {
  width: 90%;
  position:relative;
  background-image: url('../images/nature.jpg');
  margin: auto;
}

.main {
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    position: absolute;
    width: auto;
}

.jumbotron {
    position: relative;
    background-color: transparent;
    text-align: center;
    height: 90%;
}

.defaultbackground {
    height: 100%;
    background-color: #050505;
    z-index:-1;
}
