:root {
    --transition-and-dropdown-color: #0f0f0e;
    --general-page-background: #f7f7f7;
    --main-border-color: #14230e;
    --standard-border-text-color: #f7f7f7;
    --title-text-border-color: #14230e;
    --text-border-color: #0f0f0e;
}

@font-face {
    font-family: 'Anurati';
    src: url("../resources/Anurati-Regular.otf") format("opentype");
}

#main-title-screen {
    /*font-family: 'Anurati';*/
    /*font-size: 62px;*/
    color: #fdfdfd;
    text-shadow: -1px 0 var(--title-text-border-color), 0 1px var(--title-text-border-color), 1px 0 var(--title-text-border-color), 0 -1px var(--title-text-border-color);
}

.title-bordered {
    text-shadow: -1px 0 var(--text-border-color), 0 1px var(--text-border-color), 1px 0 var(--text-border-color), 0 -1px var(--text-border-color);
}

/* used for transparent background around text */
.title-background {
    text-align: center;
}

.title-background span {
    background:rgba(0,0,0,0.3);
}

.centered-paragraph {
    text-align: center;
}

.spacer {
    background-color: var(--general-page-background);
}

.main-title {
    background-color: var(--general-page-background);
}

.section-inner {
    background-color: var(--general-page-background);
}

#main-sections {
    background-color: var(--general-page-background);
}

.page-text {
    color: #0f0f0e;
}

.separator-border {
    background-color: #14230e;
}

.header-inner {
    background-color: var(--main-border-color);
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

#pdfcontainer {

}

