@font-face {
    font-family: 'Anurati';
    src: url("../resources/Anurati-Regular.otf") format("opentype");
}

#main-title-screen {
    /*font-family: 'Anurati';*/
    font-size: 62px;
    color: #ffffff;
}

.centered-paragraph {
    text-align: center;
}
